{% extends 'base.html' %}
{% load static %}
{% block navbar %} {% include 'homepage_navbar.html' %} {% endblock %}
{% block sidebar %} {% include 'homepage_sidebar.html' %} {% endblock %}
{% block title %}Acl Anthology Helper{% endblock %}
{% block main %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Download Papers</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- dowload papers -->
            <div class="card card-primary card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            Papers
                        </h4>
                    </div>
                </a>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                    </div>
                </div>
            </div>

            <!-- acl anthology -->
            <div class="card card-primary card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            For Reference
                        </h4>
                    </div>
                </a>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        {% block conferences %} {% include 'apps/papers/conferences.html' %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<!-- 按下download-papers按钮后会高亮 -->
<script src="{% static 'AdminLTE-3.1.0/plugins/jquery/jquery.min.js' %}"></script>
<script>
$(function(){
    $('#download-papers').addClass('active');
});
</script>
{% endblock %}
