{% extends 'base.html' %}
{% load static %}
{% block navbar %} {% include 'homepage_navbar.html' %} {% endblock %}
{% block sidebar %} {% include 'homepage_sidebar.html' %} {% endblock %}
{% block title %}Acl Anthology Helper{% endblock %}
{% block main %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Download Papers</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-default">
            <!-- download papers -->
            <div class="card card-primary card-outline">
                <!-- card head -->
                <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            Papers
                        </h4>
                    </div>
                </a>
                <!-- card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Conference</label>
                                <div class="col-6">
                                    <input type="text" id="conference-input" class="form-control" placeholder="acl">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Year</label>
                                <div class="col-6">
                                    <input type="text" id="year-input" class="form-control" placeholder="2021">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Content</label>
                                <div class="col-6">
                                    <input type="text" id="content-input" class="form-control" placeholder="long">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p id="conference-info-display" class="text-secondary">None</p>
                        </div>
                    </div>
                </div>
                <!-- card footer -->
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-3">
                            <button type="submit" id="conference-info-submit" class="btn btn-primary">Download</button>
                        </div>
                    </div>
                </div>

                <!-- result -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <p id="papers-data" class="text-secondary">Result: None</p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- acl anthology -->
            <div class="card card-primary card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            For Reference
                        </h4>
                    </div>
                </a>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        {% block conferences %} {% include 'apps/papers/conferences.html' %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="{% static 'AdminLTE-3.1.0/plugins/jquery/jquery.min.js' %}"></script>

<!-- 按下download-papers按钮后会高亮 -->
<script>
$(function(){
    $('#download-papers').addClass('active');
});
</script>

<!-- 实时组成conference-link -->
<script>
function getConfInfo() {
    var conference = $('#conference-input').val();
    var year = $('#year-input').val();
    var content = $('#content-input').val();
    var info = `${conference}-${year}-${content}`;
    return info;
}

$('input').keyup(function () {
    $('#conference-info-display').html(getConfLink());
});
</script>

<!-- ajax实现download -->
<script>
$('#conference-info-submit').click(function(){
    var post_data = {
        'conference-info': getConfInfo(),
        'csrfmiddlewaretoken': "{{ csrf_token }}"
    }

    $.ajax({
    url: '/papers/download-papers/download/',
    type: 'POST',
    data: post_data,
    success: function(data){
      $('#papers-data').html(data)
    },
    error: function(data){
      $('#papers-data').html("post failed")
    }
    })
});
</script>

{% endblock %}
